*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore{
    width: 1600px;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
}

.logo{
    width: 80px;
    vertical-align: middle;   
}

.titolo{
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
}

main{
    background-color: lightgray;
    height: 900px;
    padding-top: 60px;
}

.contenitoredue{
    width: 1100px;
    background-color: white;
    margin: auto;
    height: 800px;
    border-radius: 15px;
}

.bottoneuno{
    margin-top: 20px;
    margin-left: 80px;
    width: 100px;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    background-color: deepskyblue;
    border: 0;
    color: white;
}

.bottonedue{
    margin-top: 20px;
    margin-left: 10px;
    width: 120px;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid lightgray;
    color: lightgray;
}

.linea{
    color: lightgray;
    margin-top: 20px;
}

.titolodue{
    display: inline-block;
}

.contenitoretre{
    margin-left: 80px;
    margin-top: 40px;
}

.spunta{
    border: 1px solid springgreen;
    color:springgreen; 
    border-radius: 55%;
    padding: 3px;
    font-size: 13px;
    margin-bottom: 10px;
}

.contenitorequattro{
    margin-left: 80px;
    margin-top: 20px;
}

.sottotitolo{
    margin-left: 10px;
    font-size: 25px;
    vertical-align: middle;
}

.bottonetre{
    vertical-align: middle;
    margin-left: 10px;
    width: 80px;
    font-size: 15px;
    height: 25px;
    border-radius: 15px;
    background-color: deepskyblue;
    border: 0;
    color: white;
}

.contenitorecinque{
    margin-left: 80px;
    margin-top: 60px;
}

.croce{
    border: 1px solid red;
    color:red; 
    border-radius: 55%;
    padding: 3px;
    font-size: 13px;
    margin-bottom: 10px; 
}

.bottonequattro{
    vertical-align: middle;
    margin-left: 10px;
    width: 80px;
    font-size: 15px;
    height: 25px;
    border-radius: 15px;
    background-color: blueviolet;
    border: 0;
    color: white;
}

.bottonecinque{
    vertical-align: middle;
    margin-left: 10px;
    width: 80px;
    font-size: 15px;
    height: 25px;
    border-radius: 15px;
    background-color: springgreen;
    border: 0;
    color: white;
}

.bottonesei{
    vertical-align: middle;
    margin-left: 10px;
    width: 80px;
    font-size: 15px;
    height: 25px;
    border-radius: 15px;
    background-color: deepskyblue;
    border: 0;
    color: white;
}

.bottonesette{
    vertical-align: middle;
    margin-left: 10px;
    width: 80px;
    font-size: 15px;
    height: 25px;
    border-radius: 15px;
    background-color: hotpink;
    border: 0;
    color: white;
}

.bottoneotto{
    vertical-align: middle;
    margin-left: 10px;
    width: 80px;
    font-size: 15px;
    height: 25px;
    border-radius: 15px;
    background-color: olivedrab;
    border: 0;
    color: white;
}